<app-header></app-header>

<!-- Product Details Section Begin -->
<section class="product-details spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="product__details__pic">
          <div class="product__details__pic__item">
            <img
              class="product__details__pic__item--large"
              [src]="REST_API_SERVER + '/' + object$?.value?.fileName"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="product__details__text">
          <h3>{{ object$.value?.productName }}</h3>
          <div class="product__details__rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <span>(1000 reviews)</span>
          </div>
          <div class="product__details__price">
            $ {{ object$.value?.price }}
          </div>
          <p>
            {{ object$.value?.description }}
          </p>
          <a (click)="addCart(object$.value?.productId)" class="primary-btn">Thêm vào giỏ hàng</a>
        </div>
      </div>

      <!-- Related Product Section End -->
    </div>
  </div>
</section>

<app-footer></app-footer>
